<!-- En-tête du site -->
<header>
  <!-- Composant personnalisé pour l'en-tête du site -->
  <app-website-header></app-website-header>
</header>

<!-- Contenu principal de la page -->
<main class="principal_container">

  <!-- Section de présentation -->
  <section class="presentation_container">
    <!-- Titre et sous-titre de la présentation -->
    <section class="presentation_title_container">
      <h1>Baussart Renaud</h1>
      <p>Developeur C# .net / Web Angular</p>
    </section>
    <!-- Texte de présentation -->
    <p class="presentation_text">Salut moi c'est Renaud-Baussart. j'ai 23 ans sur mon site vous pouvez retrouver les infos concernant mes compétences de développeur mon portfolio ainsi que un moyen de me contacter</p>
    <!-- Boutons d'action -->
    <button class="contact_button basic_button">Contact</button>
    <button class="portefolio_button basic_button">Portefolio</button>
  </section>

  <!-- Section des compétences (work in progress) -->
  <section class="competence_container">

  </section>

  <!-- Section du portfolio (work in progress) -->
  <section class="portefolio_container">

  </section>

  <!-- Section de contact (work in progress) -->
  <section class="contract_container">

  </section>

  <!-- Pied de page (work in progress) -->
  <footer class="footer_container">

  </footer>
</main>

<!-- Directive router-outlet pour le routage Angular -->
<router-outlet />