<header>
  <app-website-header></app-website-header>
</header>
<main class="principal_container">

  <section class="presentation_container">
    <section class="presentation_title_container">
      <h1>Baussart Renaud</h1>
      <p>Developeur C# .net / Web Angular</p>
    </section>
    <p class="presentation_text">Salut moi c'est Renaud-Baussart. j'ai 23 ans sur mon site vous pouvez retrouver les infos concernant mes compétences de développeur mon portfolio ainsi que un moyen de me contacter</p>
    <button class="contact_button basic_button">Contact</button>
    <button class="portefolio_button basic_button">Portefolio</button>
  </section>

<section class="competence_container">

</section>

<section class="portefolio_container">

</section>

<section class="contract_container">

</section>

<footer class="footer_container">

</footer>
</main>
<router-outlet />
